:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* *{
  border: 1px solid red;
} */
.red {
  border: 1px solid red !important;
}
.blue {
  border: 1px solid blue !important;
}
.pink {
  border: 1px solid pink !important;
}

.input-field {
  outline: none !important;
  border-color: rgb(206, 202, 202) !important;
}
.b-gray {
  border: rgb(206, 202, 202) 1px solid;
}
.btm-gray {
  border-bottom: rgb(206, 202, 202) 1px solid;
}
.btp-gray {
  border-top: rgb(206, 202, 202) 1px solid;
}

.pagination{
  color: rgb(206, 202, 202) ;
  border:  rgb(206, 202, 202) 1px solid;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}